.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 1200px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px; }
  @media (max-width: 1199px) {
    .App {
      width: 90%; } }
  .App .main {
    flex-grow: 1; }
