.App{
  display: flex;
  flex-direction: column;

  overflow: hidden;
  max-width: 1200px;
  min-height: 100vh;
  margin: {
    left: auto;
    right: auto;
  }
  padding: {
    top: 25px;
    bottom: 25px;
  }
  
  @media(max-width: 1199px){
    width: 90%;
  }

  .main{
    flex-grow: 1;
  }
}
