.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* modification large by default */
  &--large{
    width: 150px;
  }

  /* modification small */
  &--small{
    width: 100px;
  }
}
