.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* modification large by default */
  /* modification small */ }
  .logo--large {
    width: 150px; }
  .logo--small {
    width: 100px; }
