.logo{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  padding: 15px;

  margin: auto;

  background-color: var(--primary-blue);

  &--large{
    max-width: 320px;
  }

  &--small{
    width: 100px;
  }
}
