.header {
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 25px;
  padding-right: 25px;
  background-image: url("./header.png");
  background-position: calc(100% - 25px) bottom;
  background-size: contain;
  background-repeat: no-repeat; }
