.header {
  text-align: center; }
  @media (max-width: 577px) {
    .header {
      padding-bottom: 25px; } }
  @media (min-width: 578px) {
    .header {
      padding-left: 25px;
      padding-right: 25px; } }
