.vacancies {
  position: relative;
  margin-bottom: 24px;
  flex-grow: 1;
  background-image: url("./images/pexels-photo-237180.jpeg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-white); }
  .vacancies::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%); }
  .vacancies__content {
    position: relative;
    z-index: 3; }
