.vacancies{
  flex-grow: 1;
  
  position: relative;

  background: {
    image: url('./pexels-photo-1028447.jpg');
    position: 50%;
    repeat: no-repeat;
    size: cover;
  }
  color: var(--primary-white);

  &::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0; top: 0;
    z-index: 2;

    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  }

  &__content{
    position: relative;
    z-index: 3;
  }
}
